.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self: center;
    
}

.container div{
    padding: 10px;
    margin: 10px;
}
.item1{
    
    flex-grow: 1;
    align-self: flex-start;
    text-align: start;
}
.item2{
    
    flex-grow: 1;
    align-self: center;
    text-align: center;
}
.item3{
    
    flex-grow: 1;
    align-self: end;
    text-align: end;
}

.item1 img{
    width: 400px;
    height: 400px;
}
.item2 img{
    width: 400px;
    height: 400px;
}
.item3 img{
    width: 400px;
    height: 400px;
}

.container1{
    display: grid;
    grid-template-columns: 1fr 3fr 4fr;
    gap: 10px;
    justify-items: start;
    align-items: flex-start;
    padding: 10px;
    
}
.item4{
    align-self: flex-start;
    justify-self: start;
   
}
.item5{
    align-self: center;
    justify-self: center;
    text-align: center;
    
}
.item6{
    align-self: flex-end;
    justify-self: end;
    text-align:end;
    
}
.item4 img{
    width: 400px;
    height: 400px;
}
.item5 img{
    width: 400px;
    height: 400px;
}
.item6 img{
    width: 400px;
    height: 400px;
}